.Header_main{
    display: flex;
    justify-content: space-evenly;
    /* max-width: 1200px; */
    width: 100%;
    /* margin-left: 200px; */
    margin-top: 10px;
     background-color: #2455f4;
}
.Header{
   background-color: #2455f4;
}

.Explore{
        margin-left: 25px; 
        margin-top: -5px;
        color:#fff;
}
.Header_sec1{
    margin-right: 0%;
}
.Head_logo img{
    width: 100px;
    margin-top: 5px;
}

.Header_sec2 input{
    width: 700px;
    height: 30px;
    margin-top: 10px;
    margin-left: 0px;
}

.Header_sec3{
   
   display: flex;
   justify-content: space-evenly;
   
}
.sec3{
    margin-left: 70px;
}
.header__option2{
    color:#fff;
}
.login{
    width: 80px;
    height: 25px;
    background-color: white;
    color: black !important;
    text-align: center;
}

.DropdownName{
    max-width: 250px;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid gainsboro;
    position: relative;
}
.Dropdown_Header_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.Dropdown_Header_1 span{
    z-index: 2;

}
.Dropdowm_Body_1 ul{
    margin: 0px;
    padding: 0px;

}
.Dropdowm_Body_1 ul li{
    display: block;
   margin-top: 15px;
   padding: 8px;
   cursor: pointer;
 }
 .Dropdown_1_Icon{
     color: #2874f0;
     margin-bottom: -6px;

 }
.Dropdown_1_triangle{
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 50px solid  white;
    position: absolute;
    top:6px;
    left: 40%;
    transform: translateY(-40%);
    z-index: 1;


    
}
.Dropdown_1_on{
    position: fixed;
    top:62px;
    right: 260px;
    display: block;
    z-index: 100;

}
.Dropdown_1_off{
    position: fixed;
    top:62px;
    right: 260px;
    display: none;
    z-index: 5;

}

.Dropdown_2_on{
    position: fixed;
    top:62px;
    right: 130px;
    display: block;
    z-index: 100;

}
.Dropdown_2_off{
    position: fixed;
    top:62px;
    right: 130px;
    display: none;
    z-index: 5;
}


@media (max-width:768px) {
    .Head_logo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .Header_sec2 input{
        width: 370px;
        margin-left: 10px;
    }

    .Header_main{
        display: block;
    }
    .sec3{
        margin-left: 7px;
    }
    .Explore{
        align-items: flex-end;
    }
    
}

.cart{
    display: flex;
}
.carticon{
    margin-top:18px ;
    color: white;
}