.homeMain{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.home1 img{
    width: 70px;

}
.home1 p{
  text-align: center;
  margin-bottom: 8px;
}
.Homep{
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
}
/* .Homep p{
    margin-top: -5px;

} */


.HomeMain_2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.title{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gainsboro;
}
.title h2{
    margin-left: 10px;
}
.title button{ 
    height: 30px;
    color: white;
    background-color: #2455f4;
    margin-top: 20px;
    margin-right: 10px;
    border: 1px solid white;
}

.home_sec{
    overflow-x: auto;
    border: 10px solid #f0f0f0;;
}
.home_sec1{
    border: 10px solid rgb(230, 208, 208);
}
.hr{
    color: gainsboro;
}
.slide img{
    width: 1500px;
}


@media (max-width:768px){
    .homeMain{
        max-width: 400px;
        width: 100%;
    }
    .home1 img{
        width: 50px;
    }
    .dnone{
        display: none;
    }
    .home1 p{
        font-size: 10px;
        margin-top: -5px;
    }
    .slide img{
        width: 400px;
    }
    .Home2 img{
        width: 100px;
    }
    /* .title{
        display: none;
    } */
}