.prd{
    /* max-width: 250px;
    width: 100%; */
    padding: 20px;
    /* margin-left: 20px; */
    height: 450px;
    /* display: flex; */
    display: table-column;
    /* max-width: 1000px;
    width: 100%; */




}
.stdiv{
    /* margin-left: 30px; */
    margin-top: 10px;
    /* display: flex; */
    /* position: relative; */
    /* max-width: 1000px;
    width: 100%;
    margin-left: 200px; */
    /* background-color: whitesmoke; */
    border: 20px solid whitesmoke;
    height: 400px;
    /* max-width: 7000px;
    width: 100%;
    margin-left: 30px; */
    /* margin-left: 0px !important; */


}
/* .img1{
  
    width: 80px;
} */
.prd__img img{
width: 130px;
height: 150px;

}
.prd__img{
    text-align: center;
}
.prd__star{
    margin-top: -16px;
}
.prd__review{
    /* margin-left: 10px; */
    background-color: #388e3c;
    color: white;
    
   
}
.fassured img{
    width: 70px;
    height: 20px;
    margin-left: 12px;
}


.star{
    color: white;
    

}
.size{
    margin-top: -15px;
}
.bottom_title{
    margin-top: -15px;
}
.prd_cart{
    margin-top: -20px;
}
.prd_cart button{
 border: none;
background-color: #2874f0;
 padding: 10px;
 color: white;
 margin-top: 5px;
 width: 220px;
}

.HeartIcon_1_on{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff4343;
    z-index: 1;

}
.HeartIcon_2_on{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c2c2c2;
    z-index: -1;

}
.HeartIcon_1_off{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff4343;
    z-index: 1;
}
.HeartIcon_2_off{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c2c2c2;
    z-index: 2;

}
.fassured img{
    margin-top: 5px;
}

@media(max-width:768px){
    .prd{
        display: table-column;
        max-width: 300px;
        width: 100%;
      
       
    }
    
        .stdiv{
            margin-left: 15px;
            display: flex;
            
        
        
        }
        .star{
        
            font-size:  16px !important ;
        }
        .fassured img{
            margin-top: 10px;
        }
       
        .img1{
            
            width: 300px;
            
        }
        .prd_cart button{
            width: 300px;
        }
        
   

        
}